{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Product Page - Re:scrapify{% endblock %}</title>
{% block body %}
<section class="w3l-forml-main">
    <div class="form-hnyv-sec py-sm-5 py-3">
        <!--form-stars-here-->
        <div class="form-wrapv">

            <h2>Login to your account</h2>
            <form method="post" id="signup-form " class="signin-form" autocomplete="off" > 
                {% csrf_token %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="form-sub-w3 alert alert-{% if message.tags %}{{ message.tags }} {% endif %}" role="alert">
                        {{ message }}
                    </div>
                  {% endfor %}      
                {% endif %}
                <div class="form-sub-w3">
                    <input type="email" name="email" placeholder="Email" required="" />
                    <div class="icon-w3">
                        <span class="fas fa-user" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-sub-w3">
                    <input type="password" name="password" placeholder="Password" required="" />
                    <div class="icon-w3">
                        <span class="fas fa-eye" aria-hidden="true" id="password-toggle"></span>
                    </div>
                </div>
                <div class="form-sub-w3ls  card-footer">
                    <p class="forgot-w3ls">Forgot Password?<a class href="#">Click here</a></p>
                    <p class="forgot-w3ls1">New User? <a class href="{% url 'accounts:register' %}">Signup here</a></p>
                </div>
                <div class="mt-2 submit-button text-center">
                    <button type="submit" class="btn btn-style btn-primary">Login Now</button>

                </div>
            </form>

        </div>
        <!--//form-ends-here-->
    </div>
    <!-- //coming -->
</section>
{% endblock %}