{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Product Page - Re:scrapify{% endblock %}</title>
{% block body %}
<section class="w3layouts-errorhny">
    <div class="w3l-error-grid py-5 text-center">
        <div class="container py-lg-4">
            <div class="error-block">
                <h1>404</h1>
                <h2>Oops....</h2>
                <p class="mt-4">We Can't seem to the page your looking for.<br>It turned to a 404 Error</p>

                <a href="/" class="btn btn-style btn-primary mt-4"> <span class="fa fa-arrow-left me-2"></span> Back to Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}